*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

/* header first div nav div */
.firstheader{
    width: 90%;
    margin: auto;
}

.firstnav{
    display: flex;              
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(197, 196, 196);
  padding: 10px 0px;
  box-shadow: 3px 3px 3px rgb(185, 185, 185), -3px -3px 3px rgb(230, 225, 225);
   
}
.firstnav h3{
    font-weight: 200;
}

.ilovemessagediv{
    width: 40%;
    border: 0px solid black;
    display: flex;
    align-items: center;
    gap: 30%;
    justify-content: flex-end;
    font-size: 20px;
}
#firstmessagetogetherdiv{
    font-size: 25px;
    color: red;
}
.ilovemessagediv sub{
    position: relative;
    right: 10px;
    bottom: 5px;
    border: 1px solid rgb(243, 9, 192);
    font-size: 10px;
    padding: 3px;
    border-radius: 50%;
    background-color: rgb(248, 246, 246);
}

#messagenumber{
    position: relative;
    top: 5px;
    right: 15px;
    font-size: 10px;
    border: 1px solid rgb(250, 5, 5);
    padding: 3px;
    border-radius: 50%;
    background-color: white;
    color: black;
}

#togethermessagediv sup{
   
    position: relative;
    right: 5px;
color: rgb(236, 17, 152);
    
}

.firstmessage{
    color: blue;
    z-index: 1;
}

/* profile picture div */
.thirdpicturediv{
    border: 1px solid rgb(221, 216, 216);
    height: 120px;
    width: 120px;
    margin: auto;
    border-radius: 50%;
}

.secondpicturediv{
    z-index: -1;
    position: relative;
  margin: auto;
    border: 16px solid rgb(245, 246, 247);
    height: 200px;
    width: 200px;
    border-radius: 50%;

}
.rangediv{
    display: flex;
     position: relative;
     right: 8px;
     bottom: 8px;
        border: 4px solid  rgb(245, 246, 247);
        border-bottom-color: red;
        border-left-color: red;
        height: 185px;
        width: 185px;
        border-radius: 50%;
    }

.firstpicturediv{
    border: 0px solid red;
    width: 50%;
    margin:50px auto;
    text-align: center;
}

.firstpicturediv p{
    border: 0px solid black;
    background-color: rgb(224, 27, 27);
    width: 70%;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgb(177, 175, 175),-3px -3px 5px rgb(177, 175, 175);
    margin: auto;
    color: white;
  
}

.thirdpicturediv img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

