




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/* header first div nav div */

    .firstheader{
        position: fixed;
        top: 0;
        width: 100%;
        margin: auto;
        border: 0px solid black;
        background-color: rgb(248, 246, 246);
    }

  
 
    .firstnav{
        display: flex;              
        align-items: center;
        justify-content: space-around;
        border: 0px solid rgb(219, 13, 13);
      padding: 25px 10px 10px;
      box-shadow: 3px 3px 3px rgb(185, 185, 185), -3px -3px 3px rgb(230, 225, 225);
       
    }
    .firstnav a{
        position: relative;
    
          display: flex;
          flex-direction: column;
right: 15%;
bottom: 5px;
          align-items: center;
          border: 0px solid green;
          width: 100%;
          height: 40px;
          border-radius: 50%;

    }

    .logodiv{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 0px solid green;
        width: 14%;
        height: 40px;
        border-radius: 50%;
    }
.logodiv p{
        font-size: 12px;
        font-style: italic;
        color: rgb(245, 46, 11);
    }

    .logodiv img{
        width: 100%;
        height: 100%;
    }
    .firstnav h3{
        font-weight: 200;
    }
    
    .ilovemessagediv{
        width: 100%;
        border: 0px solid black;
        display: flex;
        align-items: center;
        gap: 10%;
        justify-content: flex-end;
        font-size: 20px;
   
    }
    .firstmessagetogetherdiv{
        font-size: 25px;
        color: rgb(236, 15, 15);
        border: 0px solid black;
    }
    #likelovediv{
        position: relative;
        right: 25%;
        font-weight: 200;
        font-size: 10px;
        max-width: 20%;
        height: 60px;
        border: 1px solid rgb(223, 18, 18);
        background-color: white;
        padding: 2px;
        border-radius: 50%;
    }

.togethermessagediv{
    border: 0px solid green;
 
 
}

.firstmessage{
    position: relative;
 bottom: 3px;
 left: 40%;
    color: blue;
    z-index: 1;
}
#messagediv{
    position: relative;
    right:30%;
    font-size: 10px;
    font-weight: 200;
    border: 1px solid rgb(250, 13, 13);
    background-color: white;
    padding: 2px;
    border-radius: 50%;
}



 
  #likemessagealert{
        position: relative;
        right: 10px;
        bottom: 5px;
        border: 1px solid rgb(243, 9, 192);
        font-size: 10px;
        border-radius: 50%;
        background-color: rgb(248, 246, 246);
    }
    

    .togethermessagediv sup{
       
        position: relative;
        right: 5px;
        font-size: 20px;
    color: rgb(236, 17, 152);
        
    }
    
   
    
    /* profile picture div */

    .firstpicturediv{
        border: 0px solid red;
        width: 50%;
        margin:50px auto;
        text-align: center;
    }

    .secondpicturediv{
        z-index: -1;
        position: relative;
      margin: auto;
        border: 16px solid rgb(245, 246, 247);
        height: 200px;
        width: 200px;
        border-radius: 50%;
    
    }

    .rangediv{
        display: flex;
         position: relative;
         right: 8px;
         bottom: 8px;
            border: 4px solid  rgb(245, 246, 247);
            border-bottom-color: red;
            border-left-color: red;
            height: 185px;
            width: 185px;
            border-radius: 50%;
        }
    
    .thirdpicturediv{
        border: 1px solid rgb(97, 94, 94);
        height: 160px;
        width: 160px;
        margin: auto;
        border-radius: 50%;
    }
    
  
   
    
   
    .firstpicturediv p{
        border: 0px solid black;
        background-color: rgb(224, 27, 27);
        width: 70%;
        padding: 8px;
        border-radius: 20px;
        box-shadow: 3px 3px 5px rgb(177, 175, 175),-3px -3px 5px rgb(177, 175, 175);
        margin: auto;
        color: white;
      
    }
    
    .thirdpicturediv img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    /* name info div */
    .nameinfodiv{
        position: relative;
        bottom: 30px;
        border: 0px solid black;
        display: flex;
        gap: 2%;
       justify-content: center;
       align-items: center;
       

    }

    .nameinfodiv h4{
        font-size: 20px;
        font-weight: 400;
    }

    .fa-camera{
        color: blue;
    }

    .fa-id-card{
        color: green;
    }

    /* second div section */
    .seconddivsection{
        border-top: 1px solid rgb(204, 202, 202);
        border-top-left-radius: 500px;
        border-top-right-radius: 500px  ;
       box-shadow: -2px -2px 3px rgb(245, 188, 188);
       
        
    }
    
.profileinfodiv{
    
    border: 1px solid rgb(207, 206, 206);
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15%;
    width: 80%;
    margin:10px auto;
    border-radius: 20px;
    padding: 3px;
    box-shadow: 3px 3px 5px rgb(209, 207, 207),-3px -3px  5px rgb(223, 222, 222);
}


/* edit profile div */
.editprofilediv{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(201, 199, 199);
    height: 100px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px  ;
   box-shadow: 2px 2px 3px rgb(245, 188, 188);
   padding-bottom: 40px;

   
   
}
.divtogetheredit{
    border: 0px solid rgb(224, 20, 20);
    display: flex;
    gap: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 80px;

}
.divtogetheredit p{
    font-size: 12px;
}

.setting {
  
    border: 1px solid rgb(228, 226, 226);
    width: 60%;
    height: 40px;
    border-radius: 50%;    

}

 video{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.center{
    position: relative;
    top: 30%;
}


/* footer div */

main{
border: 0px solid black;
margin-top: 30%;

}
body{
    overflow: none;
}
.footerdiv{
position: fixed;
bottom: 0;
width: 100%;
z-index: 1;
background-color: white;
    border: 0px solid rgb(143, 140, 140);
    box-shadow: -3px -3px 5px rgb(216, 213, 213);
padding:5% 0 
10%;
    display: flex;
    gap: 40px;
    font-size: 25px;
    justify-content: space-evenly;
    align-items: center;

}
input{
    display: none;
}
.footerdiv i:hover{
    color: red;
}

.fa-backward-step{
    color: blue;
}
.fa-magnifying-glass-location{
    color: green;
}

.fa-bolt-lightning{
    color: rgb(236, 108, 16);
}

.fa-signal-messenger{
    color: rgb(51, 165, 236);
}