   
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  

}
main{
    width: 100%;
}
/* first header with the logo and login*/
.firstheader{
    background-color: rgb(70, 83, 79);
    border: 1px solid rgb(49, 8, 201);
    height:800px;
}
.firstnav {
    
  width: 100%;
  border: 0px solid black;
  display: flex;
  justify-content: space-between;
align-items: center; 

}
.firstnav input{
    display: none;
}
.logindiv:before{
    content: "Log in";
    font-size: 30px;
   position: relative;
   right: 5px;
}

.firstnav h1{font-style: italic;
}

.firstnav .fa-bars{
    font-size: 30px;
    padding-right: 10px;
}

img{
    width: 40px;

}

.firstnav a{
    background: transparent;
    display: flex;
    border: 0px solid black;
    width: 200px;
    padding: 5px;
    align-items: center;
}

/* main page picture slide show */
.firstheader{
    background-image: url("./pexels-anh-nguyen-517648218-29504314.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    position: relative;
    bottom:50px;
    z-index:-1;
}

.pagemaintro{
    text-align: center;
margin:80% auto;
    border: 0px solid black;
    width: 95%;
    font-style: italic;
    font-size: 20px;
}
.pagemaintro .fa-certificate{
    color: rgb(47, 115, 241);
}

.pagemaintro .fa-check{
    font-size: 12px;
    position: relative;
    right: 15px;
    bottom: 3px;
}
#messagesafe{
    font-size: 15px;
    color: rgb(163, 183, 201);
}

.bottondiv{
  padding-top: 20px;
  padding-bottom: 10px;
    text-align: center;
    position: relative;
 bottom: 300px;
    border: 0px solid red;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-image: url("./pexels-cottonbro-4009036.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.bottondiv button{
    padding: 8px;
    border-radius: 50px;
    
}
.bottondiv .buttonemail{
    background-color: coral;
    color: rgb(248, 243, 243);
    border: none;
   width: 80%;
    font-size: 18px;
    margin: auto;
    
}

#ordiv{
    color: white;
    font-size: 20px;
}

.bottondiv img{
    width: 20px;
   position: relative;
   right:8px;
}

.bottondiv .together{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
 background: transparent;
 border-color: rgb(253, 252, 251);
 border-width: 3px;
 color: rgb(250, 242, 242);
 width: 80%;
 margin: auto;
}