   
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
main{
    width: 100%;
}
/* first header with the logo and login*/
.firstheader{
    border: 1px solid rgb(49, 8, 201);
    height:600px;
}
.firstnav {
    
  width: 100%;
  border: 0px solid black;
  display: flex;
  justify-content: space-between;
align-items: center; 

}
.firstnav input{
    display: none;
}
.logindiv:before{
    content: "Log in";
    font-size: 30px;
   position: relative;
   right: 5px;
}

.firstnav h1{font-style: italic;
}

.firstnav .fa-bars{
    font-size: 30px;
    padding-right: 10px;
}

img{
    width: 40px;

}

.firstnav a{
    background: transparent;
    display: flex;
    border: 0px solid black;
    width: 200px;
    padding: 5px;
    align-items: center;
}

/* main page picture slide show */
.firstheader{
    background-image: url("./pexels-anh-nguyen-517648218-29504314.jpg");
    background-size:cover;
    position: relative;
    bottom:50px;
    z-index:-1;
}

.bottondiv{
    text-align: center;
    position: relative;
 bottom: 300px;
    border: 0px solid red;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.bottondiv button{
    padding: 8px;
    border-radius: 50px;
    
}
.bottondiv .buttonemail{
    background-color: coral;
    color: rgb(248, 243, 243);
    border: none;
   
    font-size: 18px;
    
}

#ordiv{
    color: white;
    font-size: 20px;
}

.bottondiv img{
    width: 20px;
   position: relative;
   right:8px;
}

.bottondiv .together{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
 background: transparent;
 border-color: azure;
 border-width: 3px;
 color: white;
}