*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scrollbar-width: none;
    
}

body{
    background-color: rgb(209, 207, 207);
}

main{
    border: 0px solid black;

}

/* first nav bar */
.firstnavbar{
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0px 5px  10px 5px;
border-bottom: 0px solid black;
box-shadow: 2px 2px 5px rgb(184, 181, 181);
background-color: rgb(248, 243, 243);
}
.firstnavbar .navfirstdiv{
    display: flex;
  justify-content:space-around;
  align-items: center;
    border: 0px solid black;
    padding: 10px;
    font-size: 20px;

    
}
.fa-arrow-rotate-left{
    color: rgb(158, 16, 16);
}

.navfirstdiv .numbernotice{

position: relative;
right: 10px;
    border: 0px solid black;
    background-color: rgb(235, 49, 49);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    top: 10px;
    padding: 2px;
user-select: none;
font-family:monospace;

}
.navfirstdiv a {
    color: rgb(51, 47, 47);


}

#backtosearch{
    position: relative;
    top: 10px;
    right: 30px;


}

sub{
    position: relative;
    bottom: 5px;

}
/* main profile slide picture */
.firstageinfochilddiv{
display: flex;
flex-direction: row-reverse;
align-items: center;
}
.mainpicturediv{
    position: relative;
   
    border: 0px solid red;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}

.agepicturediv {
   position: relative;
    display: flex;
    gap: 15px;
    align-items:center;
    border: 0px solid black;
    position: relative;
    right: 8%;
}
.ageinfodive{
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    background-color: rgb(248, 243, 243);
    padding: 8px;
    border: 0px solid black;
    height: 40px;

 
  
}
.agecameradive{
    display: flex;
    align-items: center;
}

.ageinfodive .userage{
    font-weight: 300;
}
.ageinfodive .fa-camera{
    position: relative;
    top: 6px;
    color: rgb(73, 189, 20);
}
.verifytag{
    border: 0px solid black;
    position: relative;
    padding-left: 10px;
   
 
}

.verifytag .fa-certificate{
    font-size: 25px;
    color: rgb(9, 176, 218);
}
.verifytag .fa-check{
    position: relative;
    right: 24px;
    bottom: 3px;
    font-size: 15px;
    color:white;
}
.profileimageslidediv{
    border: 0px solid black;
    position: relative;
    top: 55px;
    height: 550px;
    
    z-index: -1;
 
}
.profileimageslidediv img{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
}

/* message button chat and video call button */
.buttonmessagediv{
    padding-top: 100px;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
}

.buttonmessagediv button{
    width: 40%;
    margin-top: 4%;
    padding: 10px;
    border-radius: 20px;
    border-width: 1px;
    border: none;
    
}
#followbutton{
    color: white;
    background-color: rgb(55, 130, 228);
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    
}

.secondsup .fa-message{
    position: relative;
    right: 7px;
    color: white;
 
}
#messagebutton{
    background-color: rgb(247, 65, 65);
    
}

#messagebutton #messagebuttonmessage{
    font-size: 15px;
    font-weight: bolder;
    color: white;
}

#chatbutton{
    background-color: rgb(248, 158, 173);
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-weight: bolder;
}

#videocallebutton{
    background-color: rgb(97, 196, 97);
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-weight: bolder;
}

#likebutton{
    background-color: rgb(238, 117, 197);
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-weight: bolder;
}

/* user gallery div */
.gallerysectiondiv{
border: 1px solid rgb(243, 243, 242);
margin-top: 20px;
margin-bottom: 20px;
border-radius: 10px;
}
.galleryheadingdiv{
  
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 55, 55);
    font-size: 12px;
}
.gallarydiv{
    display: flex;
gap: 5px;
    justify-content: center;
    border: 0px solid black;
  height: 200px;

margin-bottom: 20px;
padding:0px 10px;
}

#separation{
    display: none;
    width: 95%;
    margin:40px auto;
}

.together{
    border-radius: 20px;
    border: 1px solid rgb(126, 122, 122);
    height: 100%;
    width: 30%;
    position: relative;
    
}
.together img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.together h1{
    font-size: 18px;
}
.videogallarydiv img{
    filter: blur(0.7px);
}

.privategallary img{
    filter: blur(3px);
}
.picturegallarydiv img{
    filter: blur(1px);
}

.galleryinfo{
    display: flex;
    gap: 5px;
}

.galleryinfo p{
    font-weight: bold;
    color: rgb(80, 79, 79);
}

.galleryinfo .fa-photo-film{
    color: rgb(26, 138, 26);
}
.galleryinfo .fa-camera{
    color: rgb(13, 34, 156);
}
.galleryinfo .fa-youtube{
    color: rgb(201, 17, 26);
}


.userinfogallerydiv{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
    left: 20px;
    bottom: 30%;
}

/* interest userinterest */

.interestdive{
    border: 1px solid white;
    margin-bottom: 30px;
    border-radius: 10px;
 
}
.interestdive h1{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(32, 30, 30);
}

.interestdive li{
    text-align: center;
    border: 0px solid black;
    width: 15%;
    font-family: Arial, Helvetica, sans-serif;
 
}
.fashiondiv{
    border: 0px solid black;
    height: 60px;
    width: 100%;
    border-radius: 50%;
}
.fashiondiv{
    display: flex;

   justify-content: center;
   align-items: center;

}
.fashiondiv i{
    font-size: 25px;
}

.interestdive ul{
   border: 0px solid black;
   margin: 10px;
 padding-top: 10px;
 padding-bottom: 10px;
 border-radius: 10px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(236, 233, 233);
}

#fashion{
    background-color: rgb(218, 107, 218);
    color: white;
}

#games{
    background-color: green;
    color: white;
}

#movies{
    background-color: rgb(45, 45, 99);
    color: white;
}
#Sport{
    background-color: rgb(67, 219, 67);
    color: white;
}
#traveling{
   background-color: rgb(53, 53, 250); 
   color: white;
}

#vacation{
    background-color: yellowgreen;
    color: white;
}
#cooked{
    background-color: rgb(216, 48, 48);
    color: azure;
}
#music{
    color: white;
    background-color: rgb(45, 177, 253);
}
#booked{
    background-color: brown;
    color: white;
}
/* details section about me */

.aboutmedetialsection{
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 20px;
  margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.aboutmedetialsection h1{
    padding:5px 10px;
    color: rgb(48, 47, 47);
}

.aboutmedetailsdiv{
    border: 0px solid white;
    margin: 10px;
    background-color: rgb(236, 233, 233);
    border-radius: 10px;
}
.aboutmedetialswords{
    border: 0px solid black;
    height: 100px;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
}

label{
    display: block;
    padding:10px 10px;
}

input{
    display: none;
}
/* profile user detials table */

table{
    border: 0px solid black;
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
   


}


td{
    border-bottom: 1px solid rgb(252, 248, 248);
    width: 90%;
    padding: 15px;
    background-color: rgb(223, 219, 219); 
    font-weight: 100;
    border-collapse: collapse;
   
}

td{
    width: 90%;
}

.secondtablecell{
    font-weight: bolder;
}

th{
    display: flex;
    position: relative;
    left: 5px;
    padding: 15px;
}

.tablesectiondive .fa-solid,.fa-brands ,.fa-regular{
    position: relative;
    right: 3%;
 
}

table{
    border: 0px solid rgb(255, 254, 254);
    border-radius: 10px;
}
.fa-house{
    color: green;
}

.fa-briefcase{
    color: brown;
}

.fa-school{
    color: rgb(60, 60, 141);
}

.fa-language{
    color: rgb(236, 94, 42);
}
.fa-graduation-cap{
    color: rgb(241, 64, 64);
}
.fa-moon{
    color: rgb(100, 204, 245);
}
.fa-heart{
    color: red;
}
.fa-child{
    color: purple;
}
.fa-face-kiss-wink-heart{
    color: rgb(248, 171, 4);
}
.fa-joint{
    color: rgb(248, 52, 52);
}
.fa-martini-glass-citrus{
    color: rgb(7, 135, 209);
}
.fa-hands-praying{
    color: rgb(127, 202, 15);

}
.fa-fingerprint{
    color: cadetblue;
}

/* about what you want */
.aboutwhatiwant{
    padding: 5%;
font-family: Arial, Helvetica, sans-serif;
    border: 1px solid white;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.aboutwhatiwant h1{
    line-height: 35px;
    color: rgb(54, 52, 52);
}

.aboutwhatiwantdiv{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(223, 221, 221); 
    color: rgb(49, 44, 44);
}



