*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}

/* first nav bar */
.firstnavbar{
padding:10px;
border-bottom: 0px solid black;
box-shadow: 2px 2px 5px rgb(184, 181, 181);
background-color: rgb(248, 243, 243);

}
.firstnavbar .navfirstdiv{
    display: flex;
  justify-content: space-between;
    border: 0px solid black;
    padding: 5px;
    font-size: 20px;

    
}

.navfirstdiv .numbernotice{

position: relative;
right: 10px;
    border: 0px solid black;
    background-color: rgb(235, 49, 49);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    top: 10px;
    padding: 2px;
user-select: none;
font-family:monospace;

}
.navfirstdiv a {
    color: rgb(51, 47, 47);

}

sub{
    position: relative;
    bottom: 5px;

}

/* first user header */
.firstuserheader{
    border: 0px solid black;
 

}

.userimage{
    border: 3px solid  rgb(30, 147, 194);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
}

.userimage img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.listuserface{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid black;
    width: 400px;
}

.liveinfo{
    background-color: rgb(30, 147, 194);
    padding: 1px 4px;
    border-radius: 10px;
    color:rgb(250, 235, 235);
    position: relative;
    top: 10px;
}

.firstuserheader .onunderlist{
  display: flex;
  gap: 10px;
 flex-direction: row;
 overflow: auto;
 white-space: nowrap;
 border: 0px solid black;
 padding: 10px;
 scrollbar-width: none;
}

/* user profile search bar */
.profilesandlive{
    margin-top: 15px;
display: flex;
justify-content: space-between;
}

.profilesandlive button{
    width: 48%;
    padding: 5px;
    border-radius: 10px 10px 0px 0px ;
    border: 1px solid rgb(201, 199, 199);
}
.mainuserdiv ol{
    display: flex;
    justify-content: space-between;
}
.mainuserdiv li{
    border: 1px solid rgb(202, 198, 198);
    
    width: 48%;
    height: 400px;

}

.detialsimagediv{
    display: flex;
    flex-direction: column;
    gap: 70%;
    border: 1px solid rgb(173, 171, 171);
    height: 250px;
    border-radius: 10px 10px 0px 0px;
    background-image: url("./pexels-italo-melo-881954-2379004.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}
.detialsimagedivone{
    border: 1px solid rgb(116, 114, 114);
    height: 250px;
    border-radius: 10px 10px 0px 0px;
    background-image: url("./pexels-vinicius-wiesehofer-289347-1130626.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}
/* user verification on profile */
.firstverifiedprofile{
    padding: 8px;
    display: flex;
align-items: center;
    gap: 5px;

}
.logoimagediv{
 
    border: 0px solid black;
    width: 10%;
    height: 20px;
    padding: 3px 5px;
    border-radius: 50%;
    background-color: white;
}
.mainverifysign .fa-solid{
 font-size: 20px;
 color: rgb(8, 101, 223);
}
.mainverifysign .fa-check{
    position: relative;
    right: 15px;
    bottom: 2px;
    font-size: 12px;
    color: white;
}
.logoimagediv img{
    width: 100%;
}
.like-icon{
    display: flex;
    gap: 5px;
    justify-content: center;
    border: 0px solid black;
    height: 40px;
}
.lovelikedive{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid rgb(218, 8, 8);
    height: 25px;
    width: 15%;
    border-radius: 50%;
    font-size: 15px;
    background-color: white;
    color: rgb(245, 193, 52);
    box-shadow: 2px 2px 5px gray;
}
.lovelikedivetwo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid rgb(218, 8, 8);
    height: 35px;
    width: 20%;
    border-radius: 50%;
    font-size: 22px;
    background-color: white;
    color: rgb(230, 19, 159);
    box-shadow: 2px 2px 5px gray;
}

/* user information */
.userinformation{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
#userinfoage {
    font-size: 25px;
    font-weight: lighter;
}

body{
    background-color: rgb(221, 221, 218);
}

